#cuerpo {
    background-image: url("./images/fondobosque.jpg");
    text-align: center;
    /* margin: 10%; */
    width: 100%;
    bottom: 0;
}

.container {
    background-color: rgba(96, 221, 113, 0.534);
    padding: 30px;
    border-radius: 30px;
    font-family: 'DotGothic16', sans-serif;

}

#opciones input {
    width: 200px;
    transition: transform 0.5s, filter 0.5s, width 0.5s;
}

#opciones input:hover {
    transform: rotate(20deg);
    filter: drop-shadow(5px 4px 3px rgba(41, 38, 38, 0.8));
    width: 20%;
} 

#eleccionuser {
    width: 150px;
}

#eleccionpc {
    width: 150px;
}

#resultados {
    display: none;
    flex-direction: column;
}

#opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
}

#title {
    font-size: 60px;
}

.btn {
    width: 250px;
}
